@using SpotifyAPI.Web
@using SpotifyPlaylistGenerator.Models.Interfaces
@using SpotifyPlaylistGenerator.Models.Models
@inject IPlaylistService PlaylistService
@inject ITrackService TrackService

<div class="col">
    <div class="card mb-2" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Playlist.Image" class="img-fluid rounded-start" alt="@Playlist.Name"/>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        @Playlist.Name
                        @if (AllowRefresh)
                        {
                            <a @onclick="Refresh" class="btn"><i class="fa-solid fa-refresh"></i></a>
                        }
                    </h5>
                    @* <div class="card-subtitle mb-2 text-body-secondary">@Playlist.Owner.DisplayName</div> *@
                    <div class="card-text">Tracks: @Playlist.TrackCount (@PlaylistChangeMeta.TrackCount)</div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Playlist Playlist { get; set; }
    
    [Parameter]
    public (int TrackCount, string SnapshotId) PlaylistChangeMeta { get; set; }

    private bool _loading = false;

    private bool AllowRefresh => (Playlist.SnapshotId != PlaylistChangeMeta.SnapshotId || Playlist.TrackCount != PlaylistChangeMeta.TrackCount) && !_loading;

    private async Task Refresh()
    {
        _loading = true;
        Console.WriteLine("REFRESH!");
        
        // Fetch and create/update track data

        PlaylistChangeMeta = await PlaylistService.GetPlaylistChangeMeta(Playlist);
        
        // GetPlaylistTracksBasicMeta

        await TrackService.GetPlaylistTracksBasicMeta(Playlist.Id);
        
        StateHasChanged();
        
        _loading = false;
        
        // Toast notification to say that the track load has finished
    }
}